.hero {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("/src/assets/hero.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.hero-content {
  max-width: 650px;
  color: white;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.1;
}

.hero p {
  margin: 20px 0;
  font-size: 1.1rem;
  opacity: 0.9;
}

.hero button {
  background: #e10600;
  color: white;
  padding: 14px 28px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
